.box1 {
    /*
    大きさの指定方法
    px そのまま　ピクセル
    % 画面幅や親要素に対して相対的に指定できる
    auto デフォ値　widthは親要素と同じ横幅　親要素が無い時は画面一杯 heightは子要素と同じ高さ　子要素が無い時は0
    */
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 30px; /*外側余白*/
    padding: 30px; /*内側余白 設定した高さ横幅にかさましされる*/
    /*
    上下左右　パラメタの数で変わる
    margin(padding): 1px ;  値1つは、上下左右 
    margin(padding): 1px 2px ;   値2つは、上下 左右 
    margin(padding): 1px 2px 3px ;   値3つは、上 左右 下 
    margin(padding): 1px 2px 3px 4px ;  値4つは、上 右 下 左 （時計まわり）
    */
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    /* 指定方法（box2の周囲すべてに枠線を設定する場合） */
    border: 5px solid yellow;
}